.p-1{
    padding: 1rem;
}

.m-1{
    margin: 1em;
}

.flex {
    display: flex;
}
.flex.wrap{
    flex-wrap: wrap;
}
.flex.row{
    flex-direction: row;
}
.flex.row.reverse {
    flex-direction: row-reverse;
}
.flex.column {
    flex-direction: column;
}
.flex.column.reverse {
    flex-direction: column-reverse;
}
.flex.center{
    justify-content: center;
}
.flex.middle{
    align-items: center;
}

.flex.top{
    align-items: start;
}
.flex.eq>*, .flex-1{
    flex: 1;
    width: 1px;
}
.flex.between{
    justify-content: space-between;
}
.flex.flex-1{
    flex: 1;
}
.w-auto{
    width: auto;
}
.gap{
    gap: 1em;
}
.gap-1 {
    gap: 1.5rem;
}
.gap-2{
    gap: 2em;
}

.text-center{
    text-align: center;
}
.pdt{
    padding-top: 4.5em;
}
.pdb{
    padding-bottom: 4.5em;
}

.pbf{
    padding-bottom: 5em !important;
}

address{
    white-space: pre-wrap;
    margin: auto;
}
img{
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    margin: auto;
}